<h1>比赛报名</h1>


<form action="{% url 'signup_complete' %}">
  姓名:<p>   </p>
  <input type="text" name="name" >
  <br><br>
  年龄:<p>   </p>
  <input type="text" name="age" >
  <br><br>
  性别:<p>   </p>
  <input type="text" name="sex" >
  <br><br>
  体重：<p>   </p>
  <input type="text" name="weight" >
  <br><br>
  级别/段位:<p>   </p>
  <input type="text" name="level" >
  <br><br>
  身份证号：<p>   </p>
  <input type="text" name="id" >
  <br><br>
  所属道场：<p>   </p>
  <input type="text" name="dojo" >
  <br><br>
  <input type="submit" value="Submit">
</form>